:root{
    /* --bg-color2-: rgb(232, 230, 230) ;
    --bg-color1-: rgb(210, 210, 210) ;
    --bg-body-:aliceblue;
    --text-color-:rgb(0, 0, 0); */
    --theme-color1-900: rgb(255, 0, 0);
    
}
*{
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-body-);
}
.light{
    --bg-color2-: rgb(232, 230, 230) ;
    --bg-color1-: rgb(210, 210, 210) ;
    --bg-body-:aliceblue;
    --text-color-:rgb(0, 0, 0);
}
.dark{
   --bg-color2-: rgb(39, 39, 39) ;
    --bg-color1-: rgb(125, 125, 125) ;
    --bg-body-:rgb(30, 30, 30);
    --text-color-:rgb(255, 255, 255);
}

/* mise a niveau de la page */
.container{
    color: var(--text-color-);
}

::before,::after{
    box-sizing: border-box;
}

.nav{
    background-color: var(--bg-color2-);
    width: 300px;
    height: 100%;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0; 
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px
    
}


.contenu{
    
    z-index: 0;
    left: 300px;
    top: 0;
    right: 0;
    position: absolute;
    display: block;
    opacity: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}
ul{
    list-style: none;
}

.logo{
    position: absolute;
    top: 0;
    letter-spacing: 20px;
    color: var(--theme-color1-);
      
}

.menu ul li{
    font-size: 20px;
    font-weight: 800;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
    margin-bottom: 30px;
    display: block;
    
    
}
.logo a{
    text-decoration: none;
}

.menu ul a{
    color: var(--text-color-);
    border-bottom: 1px solid var(--bg-color1-);
    display: block;
    text-decoration: none;
}
.menu ul a.active{
    color: var(--theme-color1-900);
}
.menu li i{
    margin-right: 20px;
}


.menu ul li a:hover{
    transform: translate(2px,2px);
   
}

/* nav bar responsive */
.offcanvas{
    background-color: var(--bg-color2-);
}
.navbar-toggler{
    color: var(--text-color-);
}
.btn-close{
    color: var(--text-color-);
}


/* contenu des pages */
.content{
    height: 100%;
    align-items: center;
    display: flex;
    

       
}

img{
    width: 350px;
    height: auto;
    padding: 30px;  
    
}


.titre{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    text-decoration: underline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
    color: var(--text-color-);
    
}

.description{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 0;
    width: 100%;
    color: var(--text-color-);
    
}

span{
    font-family: "imprint MT shadow";
    font-size: 60px;
    font-weight: 400;

}

.profil{
    margin: auto;
}


.card i{
    padding: 10px;
    border-radius: 20px;
    margin-top: 25px;
}
.card i:hover{
    background-color: var(--theme-color1-900);
    color: var(--bg-color2-);
}

.description div{
    font-family: cursive;
    font-weight: 900; 
}
/* diffrents theme */

.theme{
    color: var(--theme-color1-900) ;
}


/* les boutton */
.description .btn{
    background-color: var(--theme-color1-900);
    color: white;
    font-family: cursive;
    font-size: 20px;
    position: relative;
    left: 200px;
    top: 50px;
    border-radius: 30px;
}

.d1 .btn{
    background-color: var(--theme-color1-900);
    font-family: cursive;
    font-size: 20px;
    position: relative;
    left: 50px;
    top: 50px;
    color: white;
    border-radius: 30px;
}
.card .btn{
    font-family: cursive;
    position: relative;
    border: 1px solid var(--theme-color1-900);
    color: var(--theme-color1-900);
    
}
.card .btn:hover{
    background-color: var(--theme-color1-900);
    color: white;
}
.col-4 .btn{
    font-family: cursive;
    position: relative;
    background-color: var(--theme-color1-900);
    color: white;
    margin-bottom: 100px;

}


.d1{
    width: 90%;
    margin-top: 60px;
    margin-bottom: 100px;
    font-size: 20px;
    word-spacing: 5px;
}
.content1{
    margin-top: 50px;

}

.content1 span{
    font-family: cursive;
    font-size: 25px;
}

.d2{
    background-color: var(--bg-color2-);
    border-radius: 15px;
    margin-top: 30px;
    padding: 40px;
    width: 100%;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    box-shadow: 1px 1px 3px
    
}

.d2 p{
    margin-bottom: 40px;
}


/* bar de progression */
.progress{
    background-color: white;
    
}
.progress-bar{
    background-color: var(--theme-color1-900);
    
    
}
.bar{
    padding: 10px;
    box-shadow: 1px 1px 3px;
    margin: 10px;
    border-radius: 20px;
}
.bar:hover{
    box-shadow: 1px 1px 10px;
}

.icones{
    font-size: 20px;
}


/* div de formation et parcours */
.div{
    display: flex;
    flex-direction:row ;
    
}
.div-1{
    display: flex;
    flex-direction: column;
    margin: 20px;
    
}

.div-1 .d2{
    display: flex;
    flex-direction: column;
    
}

.div-1 .d2 p{
    margin-top: 20px;
    margin-bottom: 50px;
}
.card p{
    font-size: 15px;
}

.titre1{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-top: 70px;
    
}
.sous-titre1{
    text-align: center;
    font-size: 25px;
    
}

.card{
    border-radius: 20px;
    background-color: var(--bg-color2-);
    box-shadow: 1px 1px 3px ;
}
.navbar div button{
    border: 1px solid black;
    width: 60px;
    height: 40px;
}




/* responsivite */
@media (max-width:1100px) {
    .nav{
        display: none;
    }
    .contenu{
        position: relative;
        left: 0;
    }
    .menu ul li{
    font-size: 20px;
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 20px;
    display: block;
    
    }
    .logo{
    position: relative;
    }
    .description{
        font-size: 20px;
    }
    .content{
        display: flex;
    }
    .d2{
        display: block;
    }
    .d1 .btn{
        left: 40%;
    }
  
}
@media (max-width:767px) {
    .content{
        display: block;
    }
    
    .content .btn{
        left: 50px;
    }
    .d1 .btn{
        left: 40px;
    }
    .d2{
        padding: 10px;
    }
    .div{
        display: block;
    }
    .profil img{
        width: 100%;
    }
    .description{
        font-size: 15px;
    }
}

@media  (min-width: 1101px) {
    .navbar{
        display: none;
    }
} 


/* bar de theme */
.theme-bar{
    position: fixed;
    top: 100px;
    right: 0px;
    width: 300px;
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: center;
    translate: 250px;
    transition: all 0.5s ;
}
.open{
    translate: 0px;
}

.theme-bar button{
    border: 1px solid black;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    margin: 5px;
}


.theme-bar .switch{
    width: 50px ;
}
.couleur{
    border: 1px solid black;
    background-color: var(--bg-color2-);
    border-radius: 20px;
}